{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native", "prettier", "jsx-a11y"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base"],
  "rules": {
    "arrow-body-style": "warn",
    "react/jsx-filename-extension": "off",

    "implicit-arrow-linebreak": "off"
  }
}
